PUID="{{ media_platform_user_uid }}"
PGID="{{ media_platform_group_gid }}"
TZ=Etc/UTC
PROWLARR__API__KEY: "{{ media_platform_prowlarr_api_key }}"
SONARR__API__KEY: "{{ media_platform_sonarr_api_key }}"
RADARR__API__KEY: "{{ media_platform_radarr_api_key }}"
