---
default:
    user: "{{ (lookup('community.sops.sops', 'vault/pve.sops.yaml', extract='[\"pve_prometheus_api_token_id\"]')) }}"
    token_name: "prometheus"
    token_value: "{{ (lookup('community.sops.sops', 'vault/pve.sops.yaml', extract='[\"pve_prometheus_api_token_secret\"]')) }}"
