apiVersion: 1
datasources:
  - name: Prometheus
    type: prometheus
    access: proxy
    url: http://{{ prometheus_hostname }}:{{ prometheus_host_port }}
    isDefault: true
    jsonData:
      httpMethod: POST
      manageAlerts: false
