[defaults]
inventory = ./inventory/
roles_path = ./roles
collections_path = ./collections
host_key_checking = false
remote_user = ansible
interpreter_python = /usr/bin/python3
private_key_file = ~/.ssh/ansible_id
forks = 10
pager = cat
vault_identity_list = pve@./vault/pve.vault.txt

[privilege_escalation]
become_method = sudo
become = true

[inventory]
enable_plugins= host_list, script, auto, yaml, toml, ini, community.proxmox.proxmox
